<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">
	<title>learning nodejs</title>
</head>
<body>
	<form action = "http://localhost:3000/htmlToExpress" method="GET">
		<!-- method="get" : send data using url 
			 method="post" : send data with msg body which make it more secure -->		
		<label>NAME</label><br>
			<input type="text" name="name" placeholder="enter your name"><br>
		<label>MOBILE</label><br>
			<input type="text" name="number" placeholder="enter mobile number"><br>
		<label>SAVE</label><br>
			<button type="submit" onclick="showInput()">submit</button><br>
	</form>
	
</body>
</html>